.project .imgs {
  display: flex;
  justify-content: center;
}

.project .imgs div {
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*transition: width .05s;*/
  margin: 20px 0;
  padding: 0 10px;
}
.project .imgs img {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  border-radius: 5px;
}
.project .imgs p {
  margin: 0;
  flex-grow: 0;
  flex-shrink: 0;
  color: rgb(115,115,155);
  text-align: center;
}
.project .imgs.max200 img { max-height: 200px; }
.project .imgs.max300 img { max-height: 300px; }
.project .imgs.max400 img { max-height: 400px; }
.project .imgs.max500 img { max-height: 500px; }
.project .imgs.max600 img { max-height: 600px; }
.project .imgs.max700 img { max-height: 700px; }
.project .imgs.max800 img { max-height: 800px; }
.project .imgs.max900 img { max-height: 900px; }

.project > iframe {
  width: 100%;
  height: 700px;
}
.project iframe {
  border: 0;
  border-radius: 5px;
}

.project .video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.project .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project .code {
  margin: 25px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}
.project .code iframe {
  max-width: 100%;
}

.project a {
  color: #5ccbf5;
  font-weight: bold;
}
.project a:hover {
  color: #ed80da;
}